body {
    background-color: rgb(37, 37, 37);
}

h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: Arial;
}

.imgs {
    display: flex;
    justify-content: center;
}

.imgs2 {
    display: flex;
    justify-content: center;
}