body {
  font-family: Arial;
  background-color: darkgray;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

table {
  margin: auto;
  width: 300px;
}

td {
  background-color: white;
  border: solid 1px black;
  padding: 10px;
  text-align: center;
}